@import '../../styles/customMediaQueries.css';

.content {
  max-width: 920px;
  margin: 0 auto;
  padding: 24px;
}

.heading {
  margin-bottom: 24px;
}

.itemList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty,
.error {
  color: var(--colorGrey500);
}
